<link rel="stylesheet" href="../css/titleBackground.css">


<div class="uk-align-center uk-text-center">
  <div class="uk-card  uk-card-body uk-width-1-1@m ">
  	<hr class="uk-divider-icon">
    <p class="uk-card-title">| <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Helmut Cardenas | <a href="https://github.com/hcardenas" uk-icon="icon: github"></a> | <a href="https://www.linkedin.com/in/helmut-cardenas-311578b7/" uk-icon="icon: linkedin"></a> | </p>
    <div class="uk-card-footer"></div>
</div>