<link rel="stylesheet" href="../css/googleFontRisque.css">

<div class="uk-position-relative">
    <div class="uk-cover-container uk-height-large">
        <img src="https://images.pexels.com/photos/265144/pexels-photo-265144.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="" uk-cover>
        <div class="uk-overlay uk-dark uk-position-center-left">
            <h2 class="google-font-risque uk-heading-bullet">Helmut Cardenas</h2>
            <p class="google-font-risque">Im a US based Full Stack developer</p>
        </div>
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav uk-link-text" uk-scrollspy-nav="closest: li; scroll: true">
                        <li ><a href="#about" class="uk-text-white uk-text-bold">About</a></li>
                        <li><a href="#skills" class="uk-text-white uk-text-bold">Skills</a></li>
                        <li><a href="#projects" class="uk-text-white uk-text-bold">Projects</a></li>
                        <li><a href="#contact" class="uk-text-white uk-text-bold">Contact Me</a></li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>