<link rel="stylesheet" href="../css/googleFontRisque.css">
<link rel="stylesheet" href="../css/titleBackground.css">

<div class="uk-position-relative">
    <div class="uk-cover-container uk-height-large">
        
        <img src="https://images.pexels.com/photos/265144/pexels-photo-265144.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="" uk-cover>
        <div class="uk-overlay uk-light uk-position-center-left title-background-nav">
            <h1 class="google-font-risque uk-heading-bullet"><span class="nav-text-color">Helmut Cardenas</span></h1>
            <p class="google-font-risque" ><span class="nav-text-color">US based Full Stack developer</span></p>
        </div>
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left uk-light">
                    <ul class="uk-navbar-nav uk-link-text title-background-nav" uk-scrollspy-nav="closest: li; scroll: true">
                        <li ><a href="#about" class="uk-text-success uk-text-bold"><span >About Me</span></a></li>
                        <li><a href="#skills" class="uk-text-success uk-text-bold"><span >Skills</span></a></li>
                        <li><a href="#projects" class="uk-text-success uk-text-bold"><span >Projects</span></a></li>
                        <li><a href="#contact" class="uk-text-success uk-text-bold"><span >Contact Me</span></a></li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>