<!DOCTYPE html>
<html lang="en">
<head>
  <title>Helmut Cardenas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.min.js"></script>

<!-- Google font Risque -->
<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">

  
<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="../css/googleFontRisque.css">
<link rel="stylesheet" href="../css/home.css">
  
</head>
<body>
    
    <div class="uk-container-expand">
      {{>navbar}}
    </div>


    <div class="uk-container">
      {{{ body }}}
    </div>
    
    

  </body>
</html>
