<link rel="stylesheet" href="../css/titleBackground.css">


  <h1 class="uk-heading-line uk-heading-bullet" id="about"><span>About Me</span></h1>

  <div class="uk-child-width-1-1@m" uk-grid uk-scrollspy="cls: uk-animation-scale-down; target: > div > .uk-card; delay: 500; repeat: false" >
        
        <div>
          <article class="uk-comment uk-box-shadow-xlarge uk-section-muted">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle  " uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="../img/helmut.JPG" width="280" height="280" alt="">
                </div>

                <div class="uk-width-expand uk-section-muted">

                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Helmut Cardenas</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li><a href="https://github.com/hcardenas" target="_blank">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/helmut-cardenas-311578b7/" target="_blank">LinkedIn</a></li>
                    </ul>
                </div>
            </header>
            <div class="uk-comment-body">
              <div class="uk-align-center uk-container-small ">
                <hr class="uk-divider-icon">
                <p >I'm a Computer Scientist who enjoys to work on and create new and challenging projects. </p>
              </div>
            </div>
            </br>
        </article>
      </div>
    
    
</div>
    
  

  <h1 class="uk-heading-line uk-heading-bullet" id="skills"><span>Skills</span></h1>


  <div class="uk-child-width-1-2@m" uk-grid uk-scrollspy="cls: uk-animation-scale-down; target: > div > .uk-card; delay: 500; repeat: false" >
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">HTML</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/htmlIcon.png" width="100" alt="">
                <p class="uk-text-center">HTML 5<p>
              </div>
              
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">CSS</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/Boostrap_logo.svg" width="100" alt="">
                <p class="uk-text-center">Boostrap<p>
              </div>
              <div>
                <img src="../img/materialize.png" width="100" alt="">
                <p class="uk-text-center">Materialize<p>
              </div>
              <div>
                <img src="../img/uikit-logo.png" width="100" alt="">
                <p class="uk-text-center">UIKit<p>
              </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">Javascript</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/javascript-logo.png" width="100" alt="">
                <p class="uk-text-center">Javascript<p>
              </div>
              <div>
                <img src="../img/react-icon.Default" width="100" alt="">
                <p class="uk-text-center">reactJS<p>
              </div>
              
              <div>
                <img src="../img/jquery-logo.png" width="100" alt="">
                <p class="uk-text-center">JQuery<p>
              </div>
              <div>
                <img src="../img/node-logo.png" width="100" alt="">
                <p class="uk-text-center">NodeJS<p>
              </div>
              <div>
                <img src="../img/expressjs-logo.png" width="100" alt="">
                <p class="uk-text-center">ExpressJS<p>
              </div>
              
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">Back-End</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/expressjs-logo.png" width="100" alt="">
                <p class="uk-text-center">ExpressJS<p>
              </div>
              <div>
                <img src="../img/mongoDB-logo.png" width="100" alt="">
                <p class="uk-text-center">mongoDB<p>
              </div>
              <div>
                <img src="../img/sequelize-logo.png" width="100" alt="">
                <p class="uk-text-center">Sequelize<p>
              </div>
              <div>
                <img src="../img/firebase-logo.png" width="100" alt="">
                <p class="uk-text-center">Firebase<p>
              </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">Front-End Technologies</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/handlebars-logo.png" width="100" alt="">
                <p class="uk-text-center">HandlebarsJS<p>
              </div>
              <div>
                <img src="../img/react-icon.Default" width="100" alt="">
                <p class="uk-text-center">reactJS<p>
              </div>
              
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-padding title-background">
            <h3 class="uk-card-title">Others</h3>
            <hr>
            <div class="uk-grid">
              <div>
                <img src="../img/github-logo.png" width="100" alt="">
                <p class="uk-text-center">Github<p>
              </div>
              <div>
                <img src="../img/heroku-logo.png" width="100" alt="">
                <p class="uk-text-center">Heroku<p>
              </div>
              
            </div>
        </div>
    </div>
</div>

</br>
<div class="">
  <h1 class="uk-heading-line uk-heading-bullet " id="projects"><span>Projects</span></h1>
</div>


<div class="uk-child-width-1-3@m uk-container-center" uk-scrollspy="cls: uk-animation-slide-right; target: > div > .uk-card; delay: 500; repeat: false" uk-grid>

  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="../img/projects/connectFit.png" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">connectFit</h3>
              <p>React based application that is inteded for gym owners to create close commmunity and for users to have a way to keep track of their progress using the application. it leverages MERN scalfold.</p>
          </div>
          <div class="uk-card-footer">
              <div class="uk-button-group">
                <a class="uk-button uk-button-default" href="https://github.com/hcardenas/react-nyt" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub</a>
                <a class="uk-button uk-button-default" href="http://connect-fit.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View More</a>
            </div>
          </div>
      </div>
  </div>

  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="../img/projects/articles.png" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Articles</h3>
              <p>Project that scrapes and saves articles using a convination of mongoDB and express with modules to scrape articles. It uses Express in the back-end and Materialize for CSS.</p>
          </div>
          <div class="uk-card-footer">
              <div class="uk-button-group">
                <a class="uk-button uk-button-default" href="https://github.com/hcardenas/Articles" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub</a>
                <a class="uk-button uk-button-default" href="https://blooming-journey-97111.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View More</a>
            </div>
          </div>
      </div>
  </div>

  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="../img/projects/hotsRestaurant.png" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Hots Restaurant</h3>
              <p>Project that takes in restaurant reservations using express as the back-end in order to rescieve API calls. Furthermore,  bootstrap for the css</p>
          </div>
          <div class="uk-card-footer">
              <div class="uk-button-group">
                <a class="uk-button uk-button-default" href="https://github.com/hcardenas/hotRestaurant" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub</a>
                <a class="uk-button uk-button-default" href="https://guarded-atoll-64162.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View More</a>
            </div>
          </div>
      </div>
  </div>

    <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="../img/projects/nytNews.png" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">nytNews</h3>
              <p>React based application that follows the MVC pattern. It searches for articles using the new york times api and then saved the articles using mongoDB</p>
          </div>
          <div class="uk-card-footer">
              <div class="uk-button-group">
                <a class="uk-button uk-button-default" href="https://github.com/hcardenas/react-nyt" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub</a>
                <a class="uk-button uk-button-default" href="https://thawing-springs-75016.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View More</a>
            </div>
          </div>
      </div>
  </div>
  
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="../img/projects/friendFinder.png" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">friendFinder</h3>
              <p>This one is a survey based website that tries to match people who also completed the survery using a simple json file using APIs calls. It leverages Express and follows the MVC pattern using express.</p>
          </div>
          <div class="uk-card-footer">
              <div class="uk-button-group">
                <a class="uk-button uk-button-default" href="https://github.com/hcardenas/FriendFinder/tree/master/app" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub</a>
                <a class="uk-button uk-button-default" href="https://stark-sierra-37261.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View More</a>
            </div>
          </div>
      </div>
  </div>

  


</div>




  
</br>
<div class="">
  <h1 class="uk-heading-line uk-heading-bullet " id="contact"><span>Get In Touch</span></h1>
</div>
</br>

<div class="uk-container-small uk-align-center uk-text-center title-background uk-box-shadow-xlarge">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    

    <form>
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Contact Me</legend>


          

          <div class="uk-margin">
              <input class="uk-input " type="text" placeholder="Your Name" >
          </div>
          <div class="uk-margin">
              <input class="uk-input " type="text" placeholder="Your Email" >
          </div>

          

          <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
          </div>

          <p uk-margin>
            
            <button class="uk-button uk-button-secondary" href="#">Send Email</button>
            
        </p>

      </fieldset>
  </form>

  </div>
</div>


